<style type="text/css">
	
	body {
		background: grey;
	}

	.papa {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
	}
	.form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.crear {

	}

	input {
		font-size: 20px;
    	outline: none;
	}
	.container{
		max-width: 500px;
	}

	.lista{
		width: 100%;
		display: flex;
		justify-content: space-between ;
		align-items: center;
		gap: 1rem;
	}

	a{
		color: white;
		text-decoration: none;
		display: inline-block;
		padding: 7px 20px;
		background: green;
	}

	.red{
		background: red;
	}

	h3 {
		text-align: center;
	}
</style>

<div class='papa'>
<div class='container'>
	<h3>App de tareas</h3>

	<form method='POST' action='/' class='form'>
		{% csrf_token %}
		{{ form.title }}
		<input type='submit' name='Crear' class='crear' value='Crear'>
	</form>

	{% for task in tasks %}
		
		<div class='lista'>
			<p>{{ task }}</p>
			<div class='botones'>
				<a href="{% url 'edit' task.id %}">edit</a>
				<a href="{% url 'delete' task.id %}" class='red'>delete</a>
			</div>
		</div>

	{% endfor %}
</div>
</div>